@tailwind base;
@tailwind components;
@tailwind utilities;

/* variable */
$alpha: var(--colors-alpha);

@layer base {
    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .allselect {
        -webkit-touch-callout: all;
        -webkit-user-select: all;
        -khtml-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }

    body {
        @apply bg-white text-slate-800;
    }

    h1 {
        @apply text-5xl md:text-7xl;
    }
}

@layer utilities {
    .absolute-center {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .overflow-wrap-anywhere {
        word-break: break-word !important;
        overflow-wrap: anywhere !important;
    }
}

.custom-icon {
    @apply text-alpha hover:text-alphaActive hover:scale-110 duration-300 cursor-pointer;
}

.custom-icon:hover {
    @apply border-alphaActive shadow-[0_0_0_0.25rem_rgba(var(--colors-alphaActiveRgba),0.25)] #{!important};
}
